<a href="https://colab.research.google.com/github/sushanthum616/lab-6/blob/main/IpHA_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
#ans no.1
def max_product(lst):
    lrgst = lst[0]
    lrgst2 = None
    for item in lst[1:]:    
        if item > lrgst:
            lrgst2 = lrgst
            lrgst = item
        elif lrgst2 is None or lrgst2 < item:
            lrgst2 = item
       
             
    print("Largest element is:", lrgst)
    print("Second Largest element is:", lrgst2)

    pro_max = lrgst * lrgst2
    print("the max product is",pro_max)
 

lst = [10,3,1,9,2]
max_product(lst)

Largest element is: 10
Second Largest element is: 9
the max product is 90

In [38]:
#ans no.2
def coords(fn, seq, lower, upper):
    return [[x, fn(x)] for x in seq if lower<=fn(x)<=upper ]
seq = [-4, -2, 0, 1, 3]
fn = lambda x: x**2
coords(fn, seq, 1, 9)

[[-2, 4], [1, 1], [3, 9]]

In [39]:
#ans no 3
def sort(lst):
    ind = len(lst) - 1
    while ind >= 0:
        for j in range(ind):
            if lst[j] >lst[j+1]:
               lst[j], lst[j+1] = lst[j+1], lst[j]
        ind -= 1
    return lst

lst = [-4, 1, -2, 0, 3]
sort(lst)

[-4, -2, 0, 1, 3]

In [40]:
#ans no. 4
def chk_lst(lst, n):
    if n in lst:
        return True
    else:
        return any(chk_lst(sublist, n) for sublist in lst if isinstance(sublist, list))

a = [ [1,[2]], 3, [ [4], [5,[6] ] ]   ]
chk_lst(a, 6)

True